
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.title {
	font-size: 30px;
	text-align: center;
	margin: 30px 20px;
}

#section {
	max-width: 1000px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	font-size: 17px;
	padding: 10px;
}

.section__item {
	min-width: 110px;
	display: flex;
	margin: 7px;
	align-items: center;
}

.item__symbol {
	min-width: 25px;
	min-height: 25px;
	display: flex;
	float: left;
	outline: 1px solid black;
	justify-content: center;
	align-items: center;
	margin: 0 7px 0 0;
}




